.main-title{
    text-align: center;
    font-size: 7rem;
    color: white;
    font-family: sans-serif;
  }
  .h123{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.75rem;
  }
  .h1234{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.1rem;
  }