*{
    overflow: hidden;
}
.pfp{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin: auto;
    display: block;
    margin-top: 150px;
    margin-bottom: 3px;
}
.txt{
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ab{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(233, 99, 99);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-top:550px;
    border-radius: 6px;
  }
  
  .ab span{
    position: relative;
    z-index: 2;
  }
  
  .ab:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(233, 99, 99);
    transition: all .35s;
  }
  
  .ab:hover{
    color: #fff;
  }
  
  .ab:hover:after{
    width: 100%;
  }
  .pf{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .abcde{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(233, 99, 99);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    top:5px;
    right:5px;
    cursor: pointer;
    position: absolute;
    border-radius: 6px;
  }
  
  .abcde span{
    position: relative;
    z-index: 2;
  }
  
  .abcde:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(233, 99, 99);
    transition: all .35s;
  }
  
  .abcde:hover{
    color: #fff;
  }
  
  .abcde:hover:after{
    width: 100%;
  }
  .txt2{
    color: #d3b6ae;
    margin-top: 3px;
    font-family: Poppins,sans-serif;
    font-size: 17px;
    text-align: center;
  }
  .header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: transparent;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: transparent;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

  